.odd {
  background-color: rgb(255, 192, 203);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
  color: #0000ff;
  font-size: 36px;
}
.adjust-font-size {
  font-size: 24px;
}
#fourth {
  background-color: hsl(107, 92%, 43%);
  font: bold;
}
